@tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      background-color: #121212;
      color: #ffffff;
    }

    .neon-text {
      text-shadow: 0 0 5px #00bfff, 0 0 10px #39ff14, 0 0 15px #ff2e63, 0 0 20px #ffff00;
    }
